<launch>
  <!-- Load URDF vào ROS parameter server -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find Assem2)/urdf/Assem2.urdf'" />

  <!-- Load các thông số PID -->
  <rosparam file="$(find Assem2)/config/controllers.yaml" command="load"/>

  <!-- Thêm tham số này để không tự động khởi động controllers -->
  <param name="gazebo_ros_control/auto_enable_controllers" value="false"/>

  <!-- Khởi động Gazebo với maze.world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find Assem2)/worlds/maze.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
  </include>

  <!-- robot_state_publisher -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
    <param name="publish_frequency" type="double" value="50.0"/>
  </node>

  <!-- static TF từ base_link sang base_footprint -->
  <node
    name="tf_footprint_base"
    pkg="tf"
    type="static_transform_publisher"
    args="0 0 0 0 0 0 base_link base_footprint 40" />

  <!-- Spawn robot vào Gazebo với vị trí khởi đầu -->
  <node
    name="spawn_model"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-param robot_description -urdf -model Assem2 -x 0 -y 0 -z 0.1"
    output="screen" />

  <!-- Calibration fake nếu cần -->
  <node
    name="fake_joint_calibration"
    pkg="rostopic"
    type="rostopic"
    args="pub /calibrated std_msgs/Bool true" />
</launch>
